img {
  border-radius: 50%;
  max-height: 30px;
}

.users-container {
  display: flex;
  max-height: 30px;
  align-items: center;
  align-content: center;
}

.user-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}