.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0.3rem;
}

// Overwrites:
.active {
  color: #772CE8;
}

.m-t-0 {
  margin-top: 0;
}